
.mqttchat-plugin-cam-toolbar{      
    background: linear-gradient(#f7f7f7, #f1f1f1 80%);
    overflow: hidden;
    padding-top: 3px;
    white-space: nowrap;
    height: 40px;
    width:100%;
    margin: 0;    
    border-bottom: 2px solid rgba(0, 0, 0, 0);user-select: none;
}

.mqttchat-toolbar-menu{
    position: relative;
    list-style: none;
    padding:0;
    padding-right: 3px;
    padding-<?=$left?>: 1px;
    z-index: 2;
    overflow: hidden;
    float: <?=$left?>;  
    margin:0;
}

.mqttchat-toolbar-item{
   float: <?=$left?>;
   margin-<?=$left?>: 8px; 
   background: rgb(238, 238, 238);
   padding: 2px;
   border: 1px solid #ccc;
}
.mqttchat_plugin_content{
    position: relative;
    height: 100%;
}
.mqttchat-plugin-cam-content{
  padding: 10px;
  position: relative;  
  height: calc(100% - 64px);
  width: calc(100%);
}

.mqttchat-plugin-cam-video,
.mqttchat-plugin-cam-capture{ 
  width:88%;
  height: 48%;
}

.mqttchat-plugin-cam-canvas{
 height: 100%;
 width: 100%;
}
.mqttchat-plugin-cam-video{
   border: 1px solid #E5E5E5;  
   
}

.mqttchat-plugin-cam-capture{
   position: relative;
}


.mqttchat-plugin-cam-canvas{
 border: 1px dashed #E5E5E5; 
}

#mqttchat-plugin-cam-capture-btn,
#mqttchat-plugin-cam-capture-poubelle,
#mqttchat-plugin-cam-capture-send
{
  cursor: pointer;  
  height: 30px;
  width: 30px;   
}

#mqttchat-plugin-cam-capture-btn{
 background: url('plugins/pictures_cam/images/capture.png') no-repeat center;    
}
#mqttchat-plugin-cam-capture-poubelle{
 background: url('plugins/pictures_cam/images/poubelle.png') no-repeat center;  
}

#mqttchat-plugin-cam-capture-send{
 background: url('plugins/pictures_cam/images/envoyer-32.png') no-repeat center;  
}


.mqttchat-w3-light-grey{
 position: absolute;
 bottom: 0;
 width:100%;
 color:#000!important;background-color:#f1f1f1!important;
 display: none;
}
.mqttchat-w3-blue{
color:#fff!important;background-color:#0084ff!important    
}

.mqttchat-message-picture-cam{   
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    line-height: 0;
    position: relative;   
    max-width: 100%;
    height: 160px;
}

.mqttchat-message-picture-cam.in{
  border-bottom-right-radius: 1.3em;
  border-top-right-radius: 1.3em;  
}

.mqttchat-message-picture-cam.out{
  border-bottom-left-radius: 1.3em;
  border-top-left-radius: 1.3em;  
}