/* 
 * Copyright (C) 2019 Gaddour, Gaddour Mohamed
 * 
 * This is a paid script developed by Gaddour Mohamed. It is strictly forbidden to publish it for free or to sell it to a third party without the prior consent of the author.
 * Any misuse of product or income related to its exploitation is strictly prohibited.
 */

ul.mqttchat_stickers_tabs{
 padding: 0;
 margin: 0;
 width: 100%;
 display: inline-block; 
 height: 45px;
}

ul.mqttchat_stickers_tabs > li {
  list-style:none;
  float: <?=$left?>;
  text-align: center;
  cursor: pointer;
  border-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  width:25%;
  height: 35px;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  background-position: center;
  background-repeat: no-repeat;
}

ul.mqttchat_stickers_tabs >li#meep{
 background-image: url("plugins/stickers/images/sticker_42.png") ;
 
}


ul.mqttchat_stickers_tabs >li#droemon{
 background-image: url("plugins/stickers/images/droemon_2.png") ;
 
}


ul.mqttchat_stickers_tabs > li#marie{
 background-image:  url("plugins/stickers/images/marie_3.png");
 
}

ul.mqttchat_stickers_tabs > li#lovebigli{
 background-image:  url("plugins/stickers/images/lovebigli_42.png") ;
}


ul.mqttchat_stickers_tabs > li.active{
  background-color: #fff; 
  border:1px solid transparent;
  border-radius: .25rem .25rem 0 0;
  border-bottom:none;
  border-top:none;
  border-color: #ddd #ddd transparent;
  width:calc(25% - 2px);
}

.mqttchat_stickers_container{
position:relative;
overflow-y: auto;
width: 100%;
border: 0px;
padding: 0px !important;
height: calc(100% - 45px) !important;
}

.mqttchat_sticker_content{
overflow: hidden;
}

.mqttchat_sticker_image{
cursor: pointer;  
padding: 1px;
float: <?=$left?>;
background-size: auto 100%;
background-repeat: no-repeat;
width: 80px;
height: 80px;
margin: 2px;
}

.mqttchat_sticker_render{
 display: block;
 height: 100px;
 width: 100px
}

.meep_1{
 background-image:url("plugins/stickers/icons/meep_1.png");
}
.meep_2{
 background-image:url("plugins/stickers/icons/meep_2.png");
}
.meep_3{
 background-image:url("plugins/stickers/icons/meep_3.png");
}
.meep_4{
 background-image:url("plugins/stickers/icons/meep_4.png");
}
.meep_5{
 background-image:url("plugins/stickers/icons/meep_5.png");
}
.meep_6{
 background-image:url("plugins/stickers/icons/meep_6.png");
}
.meep_7{
 background-image:url("plugins/stickers/icons/meep_7.png");
}

.meep_8{
 background-image:url("plugins/stickers/icons/meep_8.png");
}
.meep_9{
 background-image:url("plugins/stickers/icons/meep_9.png");
}
.meep_10{
 background-image:url("plugins/stickers/icons/meep_10.png");
}
.meep_11{
 background-image:url("plugins/stickers/icons/meep_11.png");
}
.meep_12{
 background-image:url("plugins/stickers/icons/meep_12.png");
}

.meep_13{
 background-image:url("plugins/stickers/icons/meep_13.png");
}
.meep_14{
 background-image:url("plugins/stickers/icons/meep_14.png");
}
.meep_15{
 background-image:url("plugins/stickers/icons/meep_15.png");
}
.meep_16{
 background-image:url("plugins/stickers/icons/meep_16.png");
}
.meep_17{
 background-image:url("plugins/stickers/icons/meep_17.png");
}

.meep_18{
 background-image:url("plugins/stickers/icons/meep_18.png");
}
.meep_19{
 background-image:url("plugins/stickers/icons/meep_19.png");
}
.meep_20{
 background-image:url("plugins/stickers/icons/meep_20.png");
}


.droemon_1{
 background-image:url("plugins/stickers/icons/droemon_1.png");
}
.droemon_2{
 background-image:url("plugins/stickers/icons/droemon_2.png");
}
.droemon_3{
 background-image:url("plugins/stickers/icons/droemon_3.png");
}
.droemon_4{
 background-image:url("plugins/stickers/icons/droemon_4.png");
}
.droemon_5{
 background-image:url("plugins/stickers/icons/droemon_5.png");
}
.droemon_6{
 background-image:url("plugins/stickers/icons/droemon_6.png");
}
.droemon_7{
 background-image:url("plugins/stickers/icons/droemon_7.png");
}

.droemon_8{
 background-image:url("plugins/stickers/icons/droemon_8.png");
}
.droemon_9{
 background-image:url("plugins/stickers/icons/droemon_9.png");
}
.droemon_10{
 background-image:url("plugins/stickers/icons/droemon_10.png");
}
.droemon_11{
 background-image:url("plugins/stickers/icons/droemon_11.png");
}
.droemon_12{
 background-image:url("plugins/stickers/icons/droemon_12.png");
}

.droemon_13{
 background-image:url("plugins/stickers/icons/droemon_13.png");
}
.droemon_14{
 background-image:url("plugins/stickers/icons/droemon_14.png");
}
.droemon_15{
 background-image:url("plugins/stickers/icons/droemon_15.png");
}
.droemon_16{
 background-image:url("plugins/stickers/icons/droemon_16.png");
}
.droemon_17{
 background-image:url("plugins/stickers/icons/droemon_17.png");
}

.droemon_18{
 background-image:url("plugins/stickers/icons/droemon_18.png");
}
.droemon_19{
 background-image:url("plugins/stickers/icons/droemon_19.png");
}
.droemon_20{
 background-image:url("plugins/stickers/icons/droemon_20.png");
}

.droemon_21{
 background-image:url("plugins/stickers/icons/droemon_21.png");
}
.droemon_22{
 background-image:url("plugins/stickers/icons/droemon_22.png");
}
.droemon_23{
 background-image:url("plugins/stickers/icons/droemon_23.png");
}
.droemon_24{
 background-image:url("plugins/stickers/icons/droemon_24.png");
}
.droemon_25{
 background-image:url("plugins/stickers/icons/droemon_25.png");
}
.droemon_26{
 background-image:url("plugins/stickers/icons/droemon_26.png");
}
.droemon_27{
 background-image:url("plugins/stickers/icons/droemon_27.png");
}

.droemon_28{
 background-image:url("plugins/stickers/icons/droemon_28.png");
}


.marie_1{
 background-image:url("plugins/stickers/icons/marie_1.png");
}
.marie_2{
 background-image:url("plugins/stickers/icons/marie_2.png");
}
.marie_3{
 background-image:url("plugins/stickers/icons/marie_3.png");
}
.marie_4{
 background-image:url("plugins/stickers/icons/marie_4.png");
}
.marie_5{
 background-image:url("plugins/stickers/icons/marie_5.png");
}
.marie_6{
 background-image:url("plugins/stickers/icons/marie_6.png");
}
.marie_7{
 background-image:url("plugins/stickers/icons/marie_7.png");
}

.marie_8{
 background-image:url("plugins/stickers/icons/marie_8.png");
}
.marie_9{
 background-image:url("plugins/stickers/icons/marie_9.png");
}
.marie_10{
 background-image:url("plugins/stickers/icons/marie_10.png");
}
.marie_11{
 background-image:url("plugins/stickers/icons/marie_11.png");
}
.marie_12{
 background-image:url("plugins/stickers/icons/marie_12.png");
}

.marie_13{
 background-image:url("plugins/stickers/icons/marie_13.png");
}
.marie_14{
 background-image:url("plugins/stickers/icons/marie_14.png");
}
.marie_15{
 background-image:url("plugins/stickers/icons/marie_15.png");
}
.marie_16{
 background-image:url("plugins/stickers/icons/marie_16.png");
}


.lovebigli_1{
 background-image:url("plugins/stickers/icons/lovebigli_1.png");
}
.lovebigli_2{
 background-image:url("plugins/stickers/icons/lovebigli_2.png");
}
.lovebigli_3{
 background-image:url("plugins/stickers/icons/lovebigli_3.png");
}
.lovebigli_4{
 background-image:url("plugins/stickers/icons/lovebigli_4.png");
}
.lovebigli_5{
 background-image:url("plugins/stickers/icons/lovebigli_5.png");
}
.lovebigli_6{
 background-image:url("plugins/stickers/icons/lovebigli_6.png");
}
.lovebigli_7{
 background-image:url("plugins/stickers/icons/lovebigli_7.png");
}

.lovebigli_8{
 background-image:url("plugins/stickers/icons/lovebigli_8.png");
}
.lovebigli_9{
 background-image:url("plugins/stickers/icons/lovebigli_9.png");
}
.lovebigli_10{
 background-image:url("plugins/stickers/icons/lovebigli_10.png");
}
.lovebigli_11{
 background-image:url("plugins/stickers/icons/lovebigli_11.png");
}
.lovebigli_12{
 background-image:url("plugins/stickers/icons/lovebigli_12.png");
}

.lovebigli_13{
 background-image:url("plugins/stickers/icons/lovebigli_13.png");
}
.lovebigli_14{
 background-image:url("plugins/stickers/icons/lovebigli_14.png");
}

.mqttchat-message-sticker{
 padding-top:5px;
 padding-bottom: 5px;
}








   
