.mqttchat-visio-message{
 border: 1px solid rgba(0, 0, 0, .1); 
 border-radius:  1.3em;
 margin-top: 1px;
 height: 90px;
 position: relative;
 display:inline-block;
}

.mqttchat-visio-message .content{
  text-align: <?=$left?>;
  padding: 8px; 
}
.mqttchat-visio-message .content .msg{
   font-size:0.90em !important;
   white-space: pre-wrap;
   font-weight: 600;
}

.mqttchat-visio-message .content .msg .missed{
 color: #da2929;   
}

.mqttchat-visio-message .content .date{
  font-size:0.75em !important;
  color:#9197a3;
  margin-top: 5px;
}

.mqttchat-visio-message .cmd{
  border-top:1px solid rgba(0, 0, 0, .1); 
  padding: 5px;
  font-size:0.90em !important;
  text-align: center;
  cursor: pointer;
  color: #3D99D7;
}

