
.mqttchat-record-container{
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100%;
  
}

.mqttchat-record{
 min-width:130px; 
 max-width: 200px;
}

.mqttchat-records-record{
   margin-top:10px;
   cursor: pointer;
}

#mqttchat-record-recordTime{
  margin-top:10px;
  color: rgba(0, 0, 0, .20);
}

#mqttchat-record-recordTime .start{
   color:#f03d25;
   transition: color .1s;
}

.mqttchat-record-cancelcss{
    color:#0084ff;
    cursor: pointer;
    width:32px;
    height: 32px;
    font-size: 14px;
    background: url('plugins/records/images/poubelle.png') no-repeat center;  
    position: absolute;
    <?=$left?>:10px;
    bottom: 10px;
    display:none;
}

.mqttchat-record-cancelcss:hover{
  text-decoration: underline;
}

#mqttchat-record-processing{
  margin: 0 auto;
  width: 150px;
  padding: 10px;  
  display: none;
}

.mqttchat-audio-processing{
 margin-top : 10px;
 margin-bottom: 10px; 
 width: 100%;
 height:50px;
 background: url('plugins/records/images/spinner-22.gif') no-repeat center;  
}


#mqttchat-recorder-preview{
  text-align: center;
  margin: 0 auto;
  max-width:200px !important;
  min-width:130px !important;
  display: none;
  margin-top:10px;
}



/** mqttchat audio player css **/

.mqttchat-player-container{
 width:100%;
 height: 25px;
 border-radius: 10px;
 position: relative;
 overflow: hidden;
}

.mqttchat-player-container.record-sent{
 background-color: #0084ff;   
}

.mqttchat-player-container.record-receive{
 background-color: #bcbcbc;   
}

.mqttchat-player-container > .mqttchat-play-progress {
    content: '';
    display: block;
    background: orange;
    height: 100%;
    border-radius: 0px;
}


.mqttchat-button{
 position: absolute;
 <?=$left?>:5px;
 top:2px;
 width:22px;
 height: 22px;  
 cursor: pointer;
}


.mqttchat-player-container.record-sent .mqttchat-button.loading{
   background: url('plugins/records/images/spinner-20.gif') no-repeat center; 
}

.mqttchat-player-container.record-receive .mqttchat-button.loading{
   background: url('plugins/records/images/spinner-20-2.gif') no-repeat center; 
}

.mqttchat-button.play{
   background: url('plugins/records/images/play-<?=$right?>.png') no-repeat center;  
}

.mqttchat-button.pause{
   background: url('plugins/records/images/pause.png') no-repeat center;     
}

.mqttchat-button.error{
   background: url('plugins/records/images/error.png') no-repeat center;     
}

.mqttchat-player-container hr{
  border: 0;
  height: 1px;
  background: white;
  position: absolute;
  top: 50%;
  <?=$left?>:25px;
  width:calc(100% - 75px);
  margin:0;
}
.mqttchat-player-duration{
 background-color: #fff;
 width:48px;
 height: 18px;
 line-height: 18px;
 position: absolute;
 <?=$right?>: 5px;
 top:4px;
 font-size: 0.8em !important;
 border-radius: 10px;
 text-align:center;
}

.mqttchat-player-container.record-sent .mqttchat-player-duration{
  color: #0084ff;   
}
.mqttchat-player-container.record-receive .mqttchat-player-duration{
  color: #666666;   
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */
 
.mqttchat-records-ic-record, .mqttchat-records-ic-record-running
{ display: inline-block; background: url('plugins/records/images/records.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: <?=$left?>; }
 
.mqttchat-records-ic-record { background-position: -5px -0px; width: 72px; height: 72px; }
.mqttchat-records-ic-record-running { background-position: -5px -77px; width: 72px; height: 72px; }


@media (max-width: 414px){
 #mqttchat-recorder-preview{  
  margin-<?=$left?>: 50px;
 }   
}


@media (max-width: 360px){
 #mqttchat-recorder-preview{  
  margin-<?=$left?>: 20px;
 }   
}