
.mqttchat-visio-container{
 height: 100%;
 justify-content: space-between;
 overflow:hidden;
 position: relative;
 text-align: center; 
 display: flex;
 align-items: center;
 flex-direction: column; 
}

.mqttchat-visio-container.video{
  background-color: #666;
  color:white;
}

.mqttchat-visio-container.audeo{
  background-color: #fff;
  color: rgba(0, 0, 0, .87);
}

.mqttchat-visio-header{
display: flex;
position: relative;
z-index: 101;   
min-height: 20px;
pointer-events: none;
}

.mqttchat-visio-middle{
    margin: auto;
    position: relative; 
    display: flex;
    flex-flow: column;
    min-height: 200px; 
}

.mqttchat-visio-middle-user{
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.mqttchat-visio-middle-user .avatar{
  box-shadow: rgba(0, 132, 255, 0.5) 0px 0px 0px 0px;
  align-items: center;   
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 12px;
  position: relative;
}
.mqttchat-visio-middle-user .avatar img{
    height: 120px;
    width:120px;
    position: relative;
    border-radius: 50%;
}
.mqttchat-visio-badge{
 width: 30px;
 height: 30px;
 border-radius: 50%;
 position: absolute;
 <?=$right?>: 4px;
}
.mqttchat-visio-badge.audio{
 border: 2px solid #fff;
 background: #fff url('modules/visio/images/audio-<?=$right?>-30.png') no-repeat center; 
}
.mqttchat-visio-badge.video{
 border: 2px solid #fff;
 background: #fff url('modules/visio/images/video-<?=$right?>-30.png') no-repeat center; 
}
.mqttchat-visio-middle-user .name{
   display: block;
   font-size: 18px !important;
   line-height: 23px;
   margin: 5px auto 0;
   min-height: 23px;
}
.mqttchat-visio-middle-message{
    color: #a3a3a3;
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin: 10px auto;
}
.mqttchat-visio-footer{ 
    align-items: flex-end;
    display: flex;
    justify-content: center; 
    flex-flow: row nowrap;    
    position: relative;
    padding: 20px;
    z-index: 1;
}
.mqttchat-visio-footer .btn{
  width:50px;
  height:50px; 
  cursor: pointer;
  justify-content: center; 
  padding: 5px;
  display: none;
}
.mqttchat-visio-footer .btn.call{
  background: url('images/call-48.png') no-repeat center;     
}
.mqttchat-visio-footer .btn.call:hover{
  background: url('images/call-on-48.png') no-repeat center;  
   
}
.mqttchat-visio-footer .btn.hangup{
    background: url('images/hangup-48.png') no-repeat center; 
    
}
.mqttchat-visio-footer .btn.close{
    background: url('images/close-48.png') no-repeat center;    
}
.mqttchat-visio-footer .btn.mic{
    background: url('images/mic-48.png') no-repeat center;    
}
.mqttchat-visio-footer .btn.micoff{
    background: url('images/mic-off-48.png') no-repeat center;    
}

.mqttchat-video-tag{
 position:absolute;
 width:100%;
 height: 100%;
 top:0;
}
#mqttchat-video-player-local{
  position: absolute;
  max-width:250px;
  height: 20%;
  bottom: 0px;
  <?=$right?>: 2px;
}
#mqttchat-video-player-remote{
  position:relative;
  height: 100%;
  width: 100%;
}
.mqttchat-visio-dialog{
  overflow: hidden;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  font-size:18px;
  border-radius: .20em;
  font-family: sans-serif;
  width:240px;
  padding: 0;
}
.mqttchat-visio-content{  
  margin: 0;
  display: inline-block; 
  width:100%;
  position: relative;
  background: #ffffff;
  color: #333333;
}
.mqttchat-visio-dialog-title{
  border: 1px solid #dddddd;  
  font-weight: bold;
  padding: 0;
  background-color: #00AFF0;
  color: #fff;
  font-size:16px;
  position: relative;
  border-bottom-<?=$right?>-radius: 3px;
  border-bottom-<?=$left?>-radius: 3px;
  border-top-<?=$right?>-radius: 3px;
  border-top-<?=$left?>-radius: 3px;
  width:100%;
  height: 30px;
}
.mqttchat-visio-dialog-title-label{  
  line-height: 30px;
  padding-<?=$left?>:5px; 
  float:left;
}
.mqttchat-visio-dialog-content{
  margin-bottom: 40px;
  padding: 0;
}
.mqttchat-visio-dialog-footer {
 display: inline-block;
 position: absolute;
 bottom: 0;
 width:100%;
 height: 32px;
}
.mqttchat-visio-button{
 box-sizing: border-box;
 cursor: pointer;
 color: #fff; 
 text-align: center;
 cursor: pointer;
 height: 100%;
 line-height: 32px;
}

.mqttchat-visio-button.accept{
  background-color: #27AE60;
  border-radius: 0 0 0 .20em;  
  float:<?=$left?>;
  width:50%;
}
.mqttchat-visio-button.reject{
 background-color: #fc7169;  
 border-radius: 0 0 .20em  0 ;  
 float:<?=$right?>;
 width:50%;
}
.mqttchat-close-btn{
z-index: 99999999;
background: url(images/removewhite.svg) no-repeat top left;
height: 25px;
width: 25px;
top: 4px;
cursor: pointer;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: opacity(50%);
-khtml-opacity: 0.5;
opacity: 0.5;
text-indent: -999999px;
position: absolute;
<?=$right?>: 10px;
}
.mqttchat-close-btn:hover{
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: opacity(100%);
-khtml-opacity: 1;
opacity: 1;
}

