/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 juil. 2018, 15:33:44
    Author     : Administrateur
*/
#mqttchat * {
    box-sizing: content-box !important;
    direction: <?=$dir?>;
    font-size: <?=$font_size?>;
}
#mqttchat a {
  color: #3D99D7;
  text-decoration: none;
  background-color: transparent;
}
#mqttchat a:hover,
#mqttchat  a:focus {
  color: #3D99D7;
  text-decoration: underline;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  
}
#mqttchat a:active,
#mqttchat a:hover {
  outline: 0;
}
#mqttchat{    
  border:1px solid #dddddd;
  padding: 0px; 
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  z-index: 99;
  direction: <?=$dir?>;
  overflow: hidden !important;  
  border-radius:4px;
  position:relative;
}
#mqttchat .mqttchat-alert{
  position: relative;
  text-align: center;   
  padding: 20px;
}
.mqttchat-alert h1{
 font-size: 24px;
}
.mqttchat-logo{
  background: url(images/logo_short.png) no-repeat center;  
  height: 80px;
  text-align: center;
}
.mqttchat-error-message{ 
 color: #666666;
 margin: 0;
 margin-bottom: 28px;   
}
.mqttchat-alert 
.mqttchat-error-actions{
  display: inline-block;  
  position: relative;
}
.mqttchat-error-actions 
a.mqttchat-error-button{
display:inline;
padding:0.35em 1.2em;
border:1px solid #3D99D7;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
text-align:center;
transition: all 0.2s;
}
.mqttchat-error-actions 
a.mqttchat-error-button:hover{
  color: #fff !important;
  background-color: #3D99D7 !important;
}

#mqttchat-header {
width: 100%;
color: #333;
height: 73px;
border-bottom: 1px solid #E5E5E5;
z-index: 0;
}

#mqttchat-header-right-part{
    float: <?=$right?>;
}
#mqttchat-settings{
    padding: 19px 0px 0px 25px;
    float: <?=$right?>;
    display: inline-block;  
    height: 50px;
    margin-right: 20px;
    /*border-<?=$left?>: 1px dashed #d1d1d1;*/
}
#settings_btn{
    display: block;
    height: 30px;
    width: 30px; 
    background: url(images/mqttchat-settings-28.png) no-repeat top <?=$left?>;
    opacity: 0.8;
    float:<?=$left?>;
}
.mqttchat-more-icon{
   background: url(images/arrow-down.png) no-repeat top <?=$left?>; 
   cursor: pointer;
    height: 25px;
    width: 25px; 
    margin-top: 3px;
    float: <?=$right?>;
}
#settings_btn:hover{
   cursor: pointer;
}
#mqttchat-header-left-part{
float:<?=$left?>;
width: 50%;  

}
#mqttchat-connected-user{
    overflow: hidden;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    margin-top: 4px;
    margin-<?=$right?>: -19px;
    padding: 4px;
}
#mqttchat-connected-user .chat-owner-avatar{
 display: block;
 float: <?=$left?>;
 position: relative;   
}
#mqttchat-connected-user 
.chat-owner-details{
    overflow: hidden;
    float: <?=$left?>;
    width: inherit;
}

#mqttchat-connected-user 
.chat-owner-details 
.displayname{
padding: 2px 0px 2px 0px;
margin-<?=$left?>: 15px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
line-height: 16px;
}

.mqttchat-status-arrow{
 float: <?=$right?>;
 width: 16px;
 height: 16px;
 margin-top: 5px;
 margin-<?=$right?>: 5px;
 margin-<?=$left?>: 5px;
 cursor: pointer;
 background:  url(images/arrow_down.png) no-repeat center;
}
.mqttchat_away{
 background: #EAAB5B;   
}
.mqttchat_online{
 background: #EAAB5B;   
}
.mqttchat_offline{
 background: #666666;   
}
.mqttchat_buzy{
 background: #EAAB5B;   
}
#mqttchat-connected-user 
.mqttchat_user_status{
 margin-<?=$left?>: 15px;
 margin-top: 3px; 
 display: inline-block;
 cursor: pointer;
}
.mqttchat_user_status.pressed{
  background-color: #CDE6F7;  
}
#mqttchat-connected-user 
.chat-owner-details 
.mqttchat_userdisplaystatus{
 padding: 4px 2px;
 font-size: 1em;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
 max-width: 134px; 
 float: <?=$left?>;
 }
.mqttchat_ext_windows {
    top: 0px;
    <?=$right?>: 0px;
    color: #4A4848;
    height: 100% !important;
    position:absolute;
    z-index: 1005;    
    background: #ffffff;    
    visibility: hidden;
    overflow:hidden;
}
#mqttchat_windows_titlebar{
 text-align: center;
 color: #ffffff;
 background: #00AFF0;  
 width:100%;
 height: 35px;
 line-height: 30px;
}

#mqttchat-windows-title{
 float: <?=$left?>;
 
}
#mqttchat-windows-title > span{
vertical-align: middle;
padding: 10px;
}

#mqttchat-windows-close{
  float: <?=$right?>;
  cursor: pointer;
  margin-top: 5px;
  margin-<?=$right?>: 5px;
}
.mqttchat_ext_windows_content{
  position: relative;
  border-<?=$left?>: 1px solid #ccc; 
  height: calc(100% - 35px);  
  font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

#mqttchat_ext_content{
 position: relative;
 color: #4A4848;
 line-height: 1.3em;
 padding-bottom: 1px;
 font-size: 0.90em;
 padding: 0;
 margin: 0;
 height: 100%; 
 width:279px;
 overflow: hidden;
}

#mqttchat-inner-content-div{
 position: relative;
 height: 100% !important;   
}

.mqttchat_chats_labels{
 font-family: inherit;
 background: #F5FAFC;
 color: #666666;
 padding: 5px;
 font-size: 12px !important;
 font-weight: 600;
 padding-<?=$left?>: 15px;
 border-top: 1px solid rgba(0,0,0,.125);
}

.mqttchat_optionstatus{
 height: 21px;
 padding: 10px;
 background-color: #fff;
 border-top: 1px solid rgba(0,0,0,.125);
 border-collapse: separate;   
 padding:10px;
}
.mqttchat_optionstatus2{
 height: 12px;
 width: 12px;
 border-radius: 50%;
 float: <?=$left?>;
 margin-<?=$right?>: 12px;
 margin-top: 4px;   
}
.mqttchat_user_available{
 border: 1px solid #36b581;
 background-color: #36b581;   
}
.mqttchat_user_away {
    border: 1px solid #efbe4d;
    background-color: #efbe4d;
}
.mqttchat_user_busy {
    border: 1px solid #eb5160;
    background-color: #eb5160;
}
.mqttchat_radio{
 display: inline-block;
 font-size: 10px;
 line-height: 17px;
 cursor: pointer;
 float: <?=$right?>;
 margin-top: -17px;
 padding-<?=$right?>: 20px;   
}
.mqttchat_radio input{    
    width: 1px;
    height: 1px;
    opacity: 0;  
}
.mqttchat_radio input:checked +
.mqttchat_radio_outer
{
     border: 2px solid #439fe0;   
}
.mqttchat_radio 
.mqttchat_radio_inner {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 6px;
    height: 6px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 4.4px;
    border-radius: 50%;
    background-color: #439fe0;
    opacity: 0;
}
.mqttchat_radio 
.mqttchat_radio_outer {
    width: 14px;
    height: 14px;
    display: block;
    float: <?=$right?>;
    border: 2px solid #8e8e92;
    border-radius: 50%;
    background-color: #fff;
}

.mqttchat_radio input:checked + 
.mqttchat_radio_outer 
.mqttchat_radio_inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.mqttchat_lightdisplay{
    height: 21px;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #E5E5E5;
    border-collapse: separate;   
}
.mqttchat_param_label{
  height: 25px;
  margin-top: 4px;   
} 
.mqttchat_param_value {
    position: relative;
    border-radius: 3px;
    float: <?=$right?>;
    margin-<?=$right?>: 10px;
    height: 20px;
    margin-top: -4px;   
  }
.mqttchat_m_switch {
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: #f3f3f3;
  overflow: hidden;
  box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.1);
  transition: 0.25s all;
  transition-delay: 0s, .08s;
  margin: 0;
  padding: 0;
  position: relative;
}
.mqttchat_m_switch_color {
  background-color: #2ecc71 !important;
	box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.05) !important;
}
.mqttchat_m_switch_b {
  display: block;
}
.mqttchat_m_switch_check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  <?=$left?>: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}
.mqttchat_m_switch_element {
  position: absolute;
  <?=$left?>: 2px;
  top: 2px;
  bottom: 2px;
  <?=$right?>: 48%;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: <?=$left?>, <?=$right?>;
  transition-delay: 0s, .08s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.mqttchat_m_switch_checked {
  <?=$right?>: 2px !important;
  <?=$left?>: 48% !important;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
  transition-property: <?=$left?>, <?=$right?> !important;
  transition-delay: .08s, 0s !important;
}
.m_switch {
  width: 38px;
  height: 20px;
  border-radius: 100px;
  background-color: #f3f3f3;
  overflow: hidden;
  box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.1);
  transition: 0.25s all;
  transition-delay: 0s, .08s;
  margin: 0;
  padding: 0;
  position: relative;
}
.m_switch_color {
  background-color: #2ecc71 !important;
  box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.05) !important;
}
.m_switch_b {
  display: block;
}
.m_switch_check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  <?=$left?>: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}
.m_switch_element {
  position: absolute;
  <?=$left?>: 2px;
  top: 2px;
  bottom: 2px;
  <?=$right?>: 48%;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: <?=$left?>, <?=$right?>;
  transition-delay: 0s, .08s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.m_switch_checked {
  <?=$right?>: 2px !important;
  <?=$left?>: 48% !important;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
  transition-property: <?=$left?>, <?=$right?> !important;
  transition-delay: .08s, 0s !important;
}
#mqttchat-main-container{
 width: 100%;
 height: calc(100% - 74px);
 overflow: hidden;  
}
#mqttchat_leftbar{
width: 30%;
float: <?=$left?>;
height: 100%;
background: #ffffff;
border-<?=$right?>: 1px solid #E5E5E5;
}


#mqttchat_select_menu{
display :table;
width: 100%;
height: 35px;
background-color: #f8f9fa!important;
}

#mqttchat_select_menu_row{
display: table-row;
text-align: center;

 
}
ul#mqttchat_select_menu_row > li.separator{
 display: table-cell; 
 width:10px;
 border-bottom: 1px solid rgba(0,0,0,.125);
 padding: 2px;
}
ul#mqttchat_select_menu_row > li.menu{
 border-top-<?=$left?>-radius :5px;
 border-top-<?=$right?>-radius :5px;
 cursor: pointer;    
 text-align: center; 
 position: relative;
 display: table-cell; 
 padding: 5px;
 border-bottom: 1px solid rgba(0,0,0,.125); 
}
ul#mqttchat_select_menu_row > li.menu.selected{
background-color: #fff !important;
border: 1px solid transparent;
border-radius: .25rem .25rem 0 0;
border-bottom: none;
border-top: none;
border-color: #ddd #ddd transparent;   
}
#mqttchat_contacts_all{
 background: url(images/contacts-all.png) no-repeat center;
}

#mqttchat_contacts_online{
background: url(images/contacts-onlines.png) no-repeat center;  
}
#mqttchat_contacts_online.selected{
background: url(images/contacts-onlines-on.png) no-repeat center;
}

#mqttchat_contacts_add{
 background: url(images/user-add.png) no-repeat center;
}


#mqttchat-left-content{
display: block;
position:relative;
background-color: #fff;
height: calc(100% - 70px);
}



#mqttchat_serachForm{
width:100%;
overflow: hidden;
position: relative;
border-top:1px solid rgba(0,0,0,.125);
bottom: 0;
}

#mqttchat_serachForm > input{ 
   font-size: 1em;
   border: 0;
   outline: 0;
   display: inline-block;
   height: 30px;   
   color: #666;
   vertical-align: middle;
   width:calc(100% - 10px);  
   padding-<?=$left?>: 5px;
   padding-<?=$right?>: 5px;
   margin: 0;
}
#mqttchat_serachForm .mqttchat-search-btn{
    position:absolute;
    <?=$right?>:5px;
    top: 1px;
    width:30px;
    height:30px;
    padding: 0;
    padding-<?=$left?>: 2px;
    background-position: center;
    background-repeat: no-repeat;
   -webkit-box-shadow:none;
    border:none;
    border-<?=$left?>: 1px solid #E8E8E8;
    background: #fff;
    cursor: pointer; 
    text-align: center;   
    zoom: 1;
}

#mqttchat_serachForm .mqttchat-search-btn.search{
  background-image: url('images/1520.png') ; 
  background-repeat: no-repeat;  
  background-position: center;
}

#mqttchat_serachForm .mqttchat-search-btn.clear{
 background-image: url('images/delete.png');
 background-repeat: no-repeat;  
 background-position: center;
}



#mqttchat_rightbar{
  overflow: hidden;
  height: 100%;
}

.mqttchat-chat-box{
   height: 100%;
}

#mqttchat_window{
 background: #ffffff;
 height: 100%;   
}
.mqttchat-user-area{
 background: #ffffff;
 height: 100vh; 
}
.mqttchat_window_top{  
  padding: 0;
  height: 66px; 
  border-bottom: 1px solid rgba(0,0,0,.125);
  overflow: hidden;
}
.mqttchat_window_top_content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}

.mqttchat_user_details{
 display: flex;
 align-items: center;
 flex-direction: row;
 flex-wrap: nowrap;
}
.mqttchat_user_details_avatar{
 display: block;
 float: <?=$left?>;
 position: relative; 
 padding: 2px;
}
.mqttchat_user_details_details{ 
  justify-content: flex-start;
  display: flex;
  flex-direction: column;  
  overflow: hidden;
}


.mqttchat-content{
    margin-<?=$left?>: 10px;   
    vertical-align: middle;
    margin-<?=$right?>:2px;
}

.mqttchat_user_plugins{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.mqttchat_top_contact_options{  
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-size: 14px 14px;
    margin: 3px 0px 0px 4px;
    background: url(images/chevron-<?=$right?>-14.png) no-repeat top <?=$left?>; 
}
.mqttchat_top_contact_options.pressed{
 background: url(images/chevron-bas-14.png) no-repeat top <?=$left?>;      
}

span.mqttchat-top-contact-last-online{
 background: url(images/time.png) no-repeat <?=$left?>;   
 padding-<?=$left?>: 20px;
 display: table-cell;
 vertical-align: middle;
 color:rgba(0, 0, 0, .40);
 font-weight: 400;
 font-size: 0.85em !important;
}

.mqttchat_username_infos{
 margin-top: 8px;
 font-size: 0.85em;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
 max-width: 134px;
 display:block;
 }
 
.mqttchat_username{
  display: inline-block;  
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
 .mqttchat-content-top{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
 }
 
 #mqttchat_audiocall_icon{
 height: 32px;
 width: 32px;
 background: url(images/phone-<?=$right?>-32.png) no-repeat center;   
 cursor: pointer;
 margin-right: 10px;
}
#mqttchat_audiocall_icon:hover{
  background: url(images/phone-call-<?=$right?>-32.png) no-repeat center;   
  opacity: 0.8;
}

#mqttchat_videocall_icon{
    height: 32px;
    width: 32px;   
    background: url(images/video-<?=$right?>-32.png) no-repeat center;  
    cursor: pointer;
     margin-right: 10px;
}
#mqttchat_videocall_icon:hover{
 background: url(images/video-call-<?=$right?>-32.png) no-repeat center; 
   opacity: 0.8;
}
.mqttchat_user_plugin{
  padding-<?=$right?>: 5px;
}
.mqttchat_user_closewindow{
    cursor: pointer;
    padding: 4px;   
}

.mqttchat_window_content{    
overflow: hidden;
padding: 0;
margin: 0;
position: relative;
}

.mqttchat_window_footer{
border-top: 1px solid #E5E5E5;
z-index: 50;
bottom: 0px;
<?=$right?>: 0px;
<?=$left?>: 30%;
position: absolute;
display: inline-block;
}
#mqttchat_plus_button{
float:<?=$left?>; 
width:40px;
vertical-align: middle;
padding: 10px;
cursor: pointer;
border-<?=$right?>: 0px dashed #D1D1D1;
}
#mqttchat_message_input{
margin: 0 8px 0 8px;
width:calc(100% - 20px);
background-color: #ffffff;
}
.mqttchat_textarea{
 /*border: 1px dashed #D1D1D1;*/
 font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
 font-size: 1em;
 overflow: hidden; 
 border-top: none;
 border-bottom: none;
 width :100%;
 padding:5px;
 vertical-align: middle;
 outline: none;
 line-height: 25px;
 white-space: pre-wrap;
 word-wrap: break-word;
 border: none; 
 resize: none;
 height: <?=TEXTAREA_HEIGHT?>px;
}
#mqttchat_plugins_menu{
float:<?=$right?>;
line-height: 0;   
margin-<?=$right?>: 10px;
}
#mqttchat_plugins_menu>ul{
 list-style-type: none;
 vertical-align: middle;
 margin: 0;
 padding: 0;
 -webkit-margin:0;
 padding-top: 3px;
 padding-bottom: 2px;
 overflow: hidden;
 }
 
 #mqttchat_plugins_menu>ul >li{
 display: inline-block;
 vertical-align: top;   
 margin-<?=$right?>: 5px;
 max-width: 70%;
 }

#mqttchat_send{
   float: <?=$right?>;
   cursor: pointer;
   width:50px;
   height: 50px;
   border-<?=$left?>: 0px dashed #D1D1D1;
}

.mqttchat-send-btn{
 position: relative;
 height: 30px;
 width:30px; 
 vertical-align: middle;
 background: url(images/send-<?=$right?>-48.png) no-repeat top; 
 background-position-y: -3px;
 cursor: pointer;   
}

#mqttchat_send.mqttchat_record{
background: url(images/ic_record.png) no-repeat center; 
}

#mqttchat_send.mqttchat_send{
background: url(images/ic_send.png) no-repeat center; 
}

.mqttchat_popup_windows{
  position: absolute;  
  height: 0px;
  <?=$left?>: 30%;
  width:calc(100% - 30%);
  z-index: 1001;
  border-top: 1px solid rgba(0,0,0,.125);
  background-color: #FFF;
  visibility:hidden;
  margin: 1px;
  padding:0; 
}
#mqttchat_popup_content{
  padding: 0;
  margin: 0;
  height: 100%;
  width:100%;
  overflow:hidden;
}


ul.mqttchat_window_options{    
    padding: 5px 0;
    list-style-type: none;
    margin: 0;
    background-clip: padding-box;
    background-color: #fff;  
}

ul.mqttchat_window_options >li{
 height: 20px;
 min-width: 80px;
 padding: 2px 24px; 
 overflow: hidden;
 white-space: nowrap;
 max-width: 250px;
text-decoration: none;
 
}

ul.mqttchat_window_options >li.mqttchat_separator{
 border-bottom: 1px solid rgba(0, 0, 0, .05);
 margin: 6px 0;   
 padding-top: 1px;
 line-height: 1.28;
 height: auto;
}

ul.mqttchat_window_options >li.mqttchat_cmd:hover{
background-color: #0084ff;
color: #fff;
text-decoration: none;   
}

ul.mqttchat_window_options >li.mqttchat_cmd{
 margin: 6px 0;
 color: rgba(0, 0, 0, 1);
 cursor: pointer;
 display: block;
 font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
 text-decoration: none;
 height: 27px;
 line-height: 20px;
}

ul.mqttchat_window_options >li.mqttchat_cmd a{
 color: #1d2129;
 -webkit-font-smoothing: antialiased;
 font-weight: normal;
 line-height: 22px;  
 cursor: pointer;
 display: block;
 outline: none;
 text-decoration: none; 
}

ul.mqttchat_window_options >li.mqttchat_cmd:hover >a{
 color: #ffffff;   
}


.mqttchat_plugin_windows{
  position: absolute;
  top:71px;
  width:0px;
  border: 1px dashed #ccc;
  border-top: none;
  <?=$left?>:100%;
  z-index: 1002;
  background-color: #ffffff;
  height: calc(100% - 71px);
  overflow: hidden;
}
.mqttchat_plugin_window_content{  
  position: relative;
  height: calc(100% - 52px);
  padding: 0;
  margin: 0;
  width:100%;
}


.mqttchat-content-loading{
 position:relative;
 <?=$left?>: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 background: url(images/ring.gif) center no-repeat #fff; 
 display: none;
}



#mqttchat_dropzone{
   width:100px;
   height: 100px;
}


.mqttchat-section-users{
height: 100%;  
width:100%;
display: flex;
flex-direction: column;
}

.mqttchat-section-contacts{
 position: relative; 
 overflow: hidden;
 height: 100%;
}


ul.mqttchat_contacts >li:hover,ul.mqttchat_users>li:hover{
     background-color: #E7F1F5 !important;   
}


ul.mqttchat_contacts >li.selected,ul.mqttchat_contacts >li.opened{
     background-color: #ECF5FB !important;   
}


.mqttchat-avatar-img{
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;  
}
.mqttchat-avatar-badge{
  background: #fff;
  width:10px;
  height: 10px;
  border-radius: 50%; 
  position: absolute;
  <?=$right?>:3px;
  top:40px;
}


.mqttchat-avatar-badge.online{
 border:2px solid #fff;
 background-color: #97c846; 
}
.mqttchat-avatar-badge.offline{
 border:2px solid #fff;
 background-color: #F1F1F1; 
}

.mqttchat-avatar-badge.away{
 border:2px solid #fff;
 background-color: #efbe4d; 
}

.mqttchat-avatar-badge.busy{
 border:2px solid #fff;
 background-color: #eb5160; 
}

ul.mqttchat_contacts,ul.mqttchat_users{
 list-style: none;
 display: flex; 
 flex-direction:column;
 width:100%;
 padding: 0;
 margin: 0;
}

.mqttchat-contact-user{
 display: flex;
 align-items: stretch;
 justify-content:center;
}

.mqttchat-contact-avatar{
  position: relative;  
}

.mqttchat-contact-infos,
.mqttchat-user-infos{
  padding-<?=$left?>: 15px;
  max-width: 150px;  
  display: flex;
  flex-direction:column;
  justify-content:center;
  overflow: hidden;   
}


ul.mqttchat_contacts >li,ul.mqttchat_users>li{
  width:100%;
  cursor: pointer; 
}


.mqttchat-contact{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content:space-between;
width:100%;
}

.mqttchat-contact-left{
 display:flex;
 flex-direction: row;
 flex-wrap: nowrap;
 align-items: center;
 padding: 8px;
}

ul.mqttchat_contacts >li:hover,ul.mqttchat_users>li:hover{
  background-color: #E7F1F5 !important;   
}


ul.mqttchat_contacts >li.selected,ul.mqttchat_contacts >li.opened{
  background-color: #ECF5FB !important;   
}

.mqttchat-contact-right{
 display:flex;
 flex-direction: row;
 flex-wrap: nowrap;
 align-items: center; 
 padding: 8px;
 justify-content:center;
 margin-right: 10px;
}

.mqttchat-contact-options{
float:<?=$right?>;
width: 40px;
height: 40px;
cursor: pointer; 
display: inline;
}
.mqttchat-contact-options.idle{
background: url(images/contact-settings-283.png) no-repeat center;    
}
.mqttchat-contact-options.loiding{
background: url(images/ring.gif) no-repeat center;    
}

.mqttchat-contact-count{
 
}

.mqttchat-contact-blocked{
  
}
.mqttchat-contact-blocked.ok{
 width:25px;
 height: 25px;
 background: url('images/Lock-32.png') no-repeat center;
}

.mqttchat-contact-online{
 padding: 0;
 margin: 0;
 display: inline-table;
}

.mqttchat-contact-online-avatar{
 display: table-cell;
}
.mqttchat-contact-online-infos{
 vertical-align: middle;
 display: table-cell;
}
.mqttchat-contact-typing{
 background: url('images/pencil_buddylist.png') no-repeat center <?=$left?>;
 margin-<?=$right?>: 10px;
 padding-<?=$left?>: 20px;
 vertical-align: middle;
 font-size: 0.85em;
 color: #888;
 margin-top: 12px;
 position: relative;
}


.mqttchat-users-filter{  
  padding: 0px;
  margin: 0px;
}


.mqttchat-users-filter-header{  
  height: 30px;
  background-color: #f8f9fa!important;
  border-top: 1px  solid rgba(0,0,0,.125);
  display: inline-block;
  width:100%;
  z-index: 123;

}
.mqttchat-users-filter-header.opened{
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.mqttchat-users-filter-content{
  position: relative;
  height: 0px; 
  overflow: hidden;
}
.mqttchat-users-filter-form{
  padding: 10px;
  position: relative;
  font-size: 1em;
  font-weight: 400;
  color: #444;  
}

.mqttchat-users-filter-header-title{ 
 font-size: 0.85em;
 float:<?=$left?>;
 vertical-align: middle;
 color: #444;
 line-height:30px;
 padding-<?=$left?>: 10px;
}
.mqttchat-users-filter-header-icon{
  height: 30px;
  width: 30px;
  margin-<?=$right?>: 10px;
  float: <?=$right?>; 
  background: url(images/double-haus-22.png) center no-repeat; 
  cursor: pointer;
}
.mqttchat-users-filter-header-icon.mqttchat-users-filter-close{
background: url(images/double-bas-22.png) center no-repeat;     
}


.mqttchat-users-data{
 position: relative;
 overflow: hidden;
 height: 100%;
}

.mqttchat-loadmore-users,
.mqttchat-loadmore-messages{
 position: relative;
 margin: 0;
 padding: 0;
 width:100%;
 height: 40px;
 background: url(images/ring.gif) center no-repeat #fff;  
 display: none;
}

.mqttchat-section-messages{
 position:inherit;
 width:100%;
 height: 100%;
}

ul.mqttchat-messages{
  list-style-type: none;
  width: 100%;  
  margin: 0; 
  padding: 0; 
  overflow: hidden;
}


ul.mqttchat-messages >li{
position: relative;
display: block;
width:100%;
}

.mqttchat-message-content{
   margin-bottom: 3px;
   padding: 0;  
   margin: 0;
   vertical-align: middle;
   margin-bottom: 1px;
   max-width: 70%;
   overflow: hidden;
}

.mqttchat-message--sent{
   float:right; 
   opacity:0.6;
   margin-right: 10px;
}

.mqttchat-message--sent.ok{
  opacity: 1; 
}

.mqttchat-message--recv{
 margin-left: 10px;
 float:left; 
}

.mqttchat-message__bubble {
  padding: 5px 10px;
  border-radius: 10px 10px 2px 2px ; 
  line-height:25px; 
  word-wrap: break-word;
}

.mqttchat-message__bubble--rcvd {
  background: #D1D1D1;
  color: black;  
  border-bottom-right-radius: 10px;
}
.mqttchat-message__bubble--rcvd.rcvd{
  border-top-left-radius: 5px;   
}

.mqttchat-message__bubble--sent {
  background-color: #0084ff;
  color: #fff;
  border-bottom-left-radius: 10px;
  margin: 1px 0;
  padding: 6px 12px;
  display:inline-block;
}
.mqttchat-message__bubble--sent.sent{
   border-top-right-radius: 5px;   
}

.mqttchat-message__bubble--stop {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.mqttchat-message-info{
 padding: 0px;
 margin: 0px;
 float:right;
 display: none;
}

.mqttchat-message-info.read{
 background: url('images/coche-12.png') no-repeat bottom <?=$left?>;   
 margin-right: 10px;
 padding-<?=$left?>: 16px;
 font-size: 0.80em !important;
 color: #888;
 margin-bottom: 5px;
 display: block;
}

.mqttchat-message-typing{
 position: relative;
 display:none;
 margin-<?=$left?>: 15px;
 margin-top: 10px;
 margin-bottom: 10px;
 text-align:<?=$left?>;
}
.mqttchat-message-typing 
.mqttchat-contact-typing{
  font-size: 1em; 
}


.mqttchat-n-r-m-c{
 padding: 2px;
 height: 15px;
 text-align: center;
 font-family: "Helvetica Neue";
 font-weight: bold;
 color: #fff;
 text-shadow: 0px 1px 0px rgba(0,0,0,.15);  
 box-shadow: inset 0px 1px 0px rgba(255,255,255,.35), 0px 1px 1px rgba(0,0,0,.2);
 border-radius: 4em;
 background-image: -webkit-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
 background-image: -moz-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
 background-image: -o-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
 background-image: -ms-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
 background-image: linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
 border: 1px solid #ce4f5e;
}

.mqttchat-message-sent-date{
 display: block;
 font-weight: 500;
 margin: 12px 0 12px 20px;
 text-transform: uppercase;  
 color: rgba(0, 0, 0, .40);
 font-size: 0.8em;
 text-align: center;
 display: none;
}

.mqttchat-message-sent-date.ok{
  display:block;
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */ 
.camera-24, .camera-pressed-24, .file-24, .file-pressed-24, .mic-24, 
.mic-pressed-24, .smile-24, .smile-pressed-24, .sticker-2-24, .sticker-pressed-24
{ display: inline-block; background: url('images/icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: <?=$left?>; cursor: pointer; }
 
.camera-24 { background-position: -5px -0px; width: 24px; height: 24px; }
.camera-pressed-24 { background-position: -34px -0px; width: 24px; height: 24px; }
.file-24 { background-position: -63px -0px; width: 24px; height: 24px; }
.file-pressed-24 { background-position: -5px -29px; width: 24px; height: 24px; }
.mic-24 { background-position: -34px -29px; width: 24px; height: 24px; }
.mic-pressed-24 { background-position: -63px -29px; width: 24px; height: 24px; }
.smile-24 { background-position: -5px -58px; width: 24px; height: 24px; }
.smile-pressed-24 { background-position: -34px -58px; width: 24px; height: 24px; }
.sticker-2-24 { background-position: -63px -58px; width: 24px; height: 24px; }
.sticker-pressed-24 { background-position: -5px -87px; width: 24px; height: 24px; }

span.mqttchat-data-bubble{   
    position:absolute;
    top:3px;
    <?=$right?>: 8px;    
    height: 15px;
    padding: 2px;
    line-height:15px;
    text-align:center;
 
    font-family:"Helvetica Neue";
    font-weight:bold;
    color:#fff;
    text-shadow:0px 1px 0px rgba(0,0,0,.15);
 
    -webkit-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,35),
        0px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);
    box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);
 
    -webkit-border-radius:4em;
    -moz-border-radius:4em;
    border-radius:4em;
    filter: alpha(opacity=0);
}

span.mqttchat-data-bubble.pink {
    background-image: -webkit-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -moz-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -o-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -ms-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f78297', EndColorStr='#f46677');
    border:1px solid #ce4f5e;
}

.mqttchat_l_message{
    color: rgba(153, 153, 153, 1);
    font-size: 0.86em !important;
    font-weight: 400;
    margin-<?=$right?>: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;
}
.mqttchat-user-last-online{
    color: #888;
    font-size: 0.80em !important;
    font-weight: 400;
    margin-<?=$right?>: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;  
}

#mqttchat::-webkit-input-placeholder {
   font-size: 0.80em;
}
#mqttchat:-moz-placeholder {
    /* FF 4-18 */    
    font-size: 0.80em;
    opacity: 1;
}
#mqttchat::-moz-placeholder {
    /* FF 19+ */    
    font-size: 0.80em;
    opacity: 1;
}
#mqttchat:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 0.80em;
}
#mqttchat::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 0.80em;
}
#mqttchat::placeholder {
    /* modern browser */
    font-size: 0.80em;
}

.mqttchat_plugin_window_title{
  background-color: #00AFF0;  
  color:#fff;
  width: 100%; 
  height: 50px; 
}

.mqttchat_plugin_window_name{
  padding: 15px;
  float: <?=$left?>;      
}

.mqttchat_plugin_window_closebox{
 background: url(images/removewhite.svg) no-repeat top <?=$left?>;
 float: <?=$right?>;
 height: 25px;
 width: 25px;
 margin-top: 12px;
 cursor: pointer;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 filter: opacity(50%);
 -khtml-opacity: 0.5;
 opacity: 0.5;
 text-indent: -999999px;
 margin-<?=$right?>: 15px;      
}

.mqttchat_plugin_window_closebox:hover{
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: opacity(100%);
-khtml-opacity: 1;
 opacity: 1;      
}

.mqttchat_status{
 display: inline-block;
 padding: 0px;
}
.mqttchat_status_option{
  margin-top: 5px;
  height: 10px; 
  width: 10px;
  border-radius: 50%; 
  float: <?=$left?>;
  margin-<?=$right?>: 10px;
}
.mqttchat_status_value{
  float:<?=$right?>;  
}

.mqttchat-form{

}

#edit-profile-form{
 padding-top:20px;  
 padding: 0;
 margin: 0;
 }


.mqttchat-user-avatar{
 position: relative;
 text-align: center;
 vertical-align:middle;
}

.mqttchat-tools{
  display: block;
  margin-<?=$left?>: 100px;
  margin-bottom: 10px;
}

.mqttchat-tools .mqttchat-avatar-upload{
 background: url(images/upload.png) no-repeat center;
 width:42px;
 height: 42px;
 display: table-cell;
 cursor: pointer;
}

.mqttchat-tools .mqttchat-avatar-save{
 background: url(images/save.png) no-repeat center;
 width:42px;
 height: 42px;
 display: table-cell;
 cursor: pointer;
}


#mqttchat-avatar-preview{
 position: relative;
 border: 1px solid #E5E5E5;
 display: block;
 margin-<?=$left?>: auto;
 margin-<?=$right?>: auto;
 width: 160px;
 height: 120px;
 margin-bottom: 10px; 
}
#mqttchat-avatar-preview img{
   height: 118px;
   max-width: 160px;
}

#mqttchat-avatar-preview .dz-preview{
   height: 100px;
   width:100%;
}
.mqttchat-form label { display: block; float: <?=$left?>; width: 130px; }

.mqttchat-form-element {       
    background-color: #fff;
    border-top: 1px solid #D1D1D1;    
    border-collapse: separate;
    padding: 0;
    margin: 0;
}

.mqttchat-form-element.last{
  border-bottom: 1px solid #D1D1D1;    
}

.mqttchat-form-element select{
 height: 35px; 
 width:100%;
 outline: none;
 border: 0px !important; 
}

.mqttchat-input{    
    background: #ffffff;
    height: 30px; 
    width: calc(100% - 12px);
    outline: none;
    border: 0px !important;
    padding: 6px;
}


.mqttchat-disconnect{
    width:220px;
    height: 180px;
    border: 1px solid #F1F1F1;
    background-color: #FFFFFF;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
    border-radius: 5px;
}

.mqttchat-disconnect .mqttchat-disconnect-message{
  text-align: center;
  color: #1d2129;  
  font-size: 0.80em;
  line-height: 18px;
}

.mqttchat-disconnect-message> a {
    color: #365899;
    text-decoration: none;
}


.mqttchat-edit-avatar-error{
   position:absolute;
  <?=$right?>: 25px;
   bottom:15px;
   width:26px;
   height: 26px;
   background: url(plugins/pictures_disk/images/error-26.png) no-repeat center;
   border: none;
   cursor: pointer;
   padding: 0;
   display: none;
 }

 
 .mqttchat-edit-avatar-error > span{
   display: none; 
 }
 
 .mqttchat-contact-notification{
  padding: 5px;
  display:  flex;
  float:<?=$right?>;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
 }


 
#mqttchat ::-webkit-input-placeholder {
   font-size: 0.80em;
}
#mqttchat :-moz-placeholder {
    /* FF 4-18 */    
    font-size: 0.80em;
    opacity: 1;
}
#mqttchat ::-moz-placeholder {
    /* FF 19+ */    
    font-size: 0.80em;
    opacity: 1;
}
#mqttchat :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 0.80em;
}
#mqttchat ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 0.80em;
}
#mqttchat ::placeholder {
    /* modern browser */
    font-size: 0.80em;
}



@media(max-width: 1200px){
    
    #mqttchat_leftbar {
        width: 320px;
    }
    .mqttchat_window_footer{
    <?=$left?> : 320px;
    }

    .mqttchat_popup_windows{
    width :calc(100% - 320px);  
    <?=$left?>:320px;
    }
    .mqttchat_hidden_laptop{
       display: none !important;
    }
    
}



@media (max-width: 786px){
    #mqttchat_leftbar {
        width: 100%;
    }
    #mqttchat_window {
        position: absolute;
        <?=$left?>: 0;
        top: 0;
        margin: 0 !important;
        z-index: 999;
        border: 0;
        width: 100% !important;
        height: 100% !important;
    }
    .mqttchat_window_top{  
      background-color: #f8f9fa!important;
    }
    .mqttchat-contact-left{
       width:60%; 
    } 
    .mqttchat-contact-right{
       width:40%; 
    } 
    .mqttchat_user_details {
        overflow: hidden;
    }
    .mqttchat_hidden_tab{
       display: none !important;
    }
    .mqttchat_window_footer{
      <?=$left?>:0px;
    }
    .mqttchat_popup_windows{
      width :100%;
      <?=$left?>:0px;
    }
    .mqttchat-contact-options{
      display:none !important;
    }
    .mqttchat_plugin_windows{
      height: 100%;
    }
    .mqttchat-contact-infos, 
    .mqttchat-user-infos {
        max-width:none;
    }
    
}


@media (max-width: 414px){
    
    #mqttchat-header-right-part {
        max-width: 40%;
    }
    #mqttchat-header-left-part{
        max-width: 60%;
        width:auto;
    }
    #mqttchat-connected-user{
      width:auto;
    }
    #mqttchat-connected-user .chat-owner-details{
      float:none;
      max-width: none;
    }
    .mqttchat_hidden_lm{
      display: none !important;
    }
    .mqttchat_user_details_details{ 
     max-width: 160px;
    }
    
}


@media (max-width: 360px){
    .mqttchat_user_details{
     width: 75%;
    }
    .mqttchat_hidden_sm{
    display: none !important;
    }
}

@media all and (max-width:30em){
.mqttchat-alert a.mqttchat-error-button{
display:block;
margin:0.4em auto;
}
};