.mqttchat-multiple-upload{
 padding: 0;
 margin: 0;
 width:100%;
 position: relative;
 height: 100%;
}

.mqttchat-multiple-upload.dropzone{
 border-radius: 1px;
 background: white;  
 color: #646C7F;
}
#mqttchat-upload-text{
 position: relative;
 padding: 0;
 margin: 0;
}
#mqttchat-upload-text >span{
  padding: 10px;
}

.mqttchat_images_list{
  position: relative;
  height: 100px;
}

.mqttchat-multiple-upload > .dz-message{
    padding: 10px;
    cursor: pointer;
    font-weight: 400;
    text-align: center;  
    box-sizing: border-box;
    height: 100%;
    
 }
 .mqttchat_upload_icon{ 
    margin: 0 auto;
    position: relative;
    width:50px;
    height: 50px;
    background: url("plugins/pictures_disk/images/upload-50.png") no-repeat center;
    margin-bottom: 10px;
 }
 
 .mqttchat-multiple-upload .mqttchat_imagesPreview {
 position: absolute;
 <?=$left?>:0px;
 top: 0px;
 max-width: 80%;
 }
 
 .mqttchat_imagesPreview_content{
  position: relative;
 }
 .mqttchat_imagesPreview ul{   
   display: inline-block;
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 .mqttchat_imagesPreview ul > li{  
    float: <?=$left?>;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-<?=$left?>: 10px;
    width:150px;     
    background-color: #ffffff;
    display: inline;
 }
 .mqttchat_imagesPreview ul > li .dz-details{
   position:relative;
 }
 .mqttchat_imagesPreview ul > li .mqttchat-remove-img{
   position:absolute;
   <?=$right?>: 25px;
   top: 10px;
   width:22px;
   height: 22px;
   background: url(plugins/pictures_disk/images/remove-img-22.png) no-repeat center;
   border: none;
   cursor: pointer;
   padding: 0;
   opacity: 0.8;
   display: none;
 }
 .mqttchat_imagesPreview ul > li .mqttchat-remove-img:hover{
    opacity: 1;
 }
 
 
 .mqttchat_imagesPreview ul > li .dz-error-message{
   position:absolute;
   <?=$right?>: 25px;
   bottom:15px;
   width:26px;
   height: 26px;
   background: url(plugins/pictures_disk/images/error-26.png) no-repeat center;
   border: none;
   cursor: pointer;
   padding: 0;
   display: none;
 }
 
 .mqttchat_imagesPreview ul > li .dz-error-message > span{
   display: none;
 }
 
 .mqttchat_imagesPreview li .dz-preview.dz-file-preview{
   margin: 0;
   padding: 0;
   position: relative;
 }
 
 .mqttchat_imagesPreview li  .dz-details >img{
   border-radius: 5px;
   width:130px;
   height: 130px;
 }
 
 #mqttchat_images_list{
   position: relative;
 }
 
 .mqttchat-message-picture{
 padding-top:5px;
 padding-bottom: 5px;  
 cursor: pointer; 
 position: relative;
}

.mqttchat-message-picture-img{
 box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
 display: inline-block;
 line-height: 0;
 max-width: 100%;
 height: 160px;
}

.mqttchat-message-picture-img.in{
 border-bottom-right-radius: 1.3em;
 border-top-right-radius: 1.3em;  
}

.mqttchat-message-picture-img.out{
 border-bottom-left-radius: 1.3em;
 border-top-left-radius: 1.3em;  
}
 
 /* jQuery Lighter
 * Copyright 2015 Kevin Sylvestre
 * 1.3.4
 */
.lighter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100023 !important;
  opacity: 1; }
  .lighter img {
    display: block;
    width: 100%;
    height: 100%; }
  .lighter-fade .lighter-overlay {
    opacity: 0; }
  .lighter-loading .lighter-spinner {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .lighter-loading .lighter-container {
    opacity: 0;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4); }
  .lighter-fetched .lighter-spinner {
    opacity: 0;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4); }
  .lighter-fetched .lighter-container {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .lighter-fade .lighter-container {
    opacity: 0;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4); }
  .lighter-fade .lighter-spinner {
    opacity: 0;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4); }
  .lighter-overlay {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    transition-property: opacity, transform;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%; }
  .lighter-container {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transition-property: opacity, -webkit-transform;
    -moz-transition-property: opacity, -moz-transform;
    transition-property: opacity, transform;
    background: #FFF;
    position: absolute;
    z-index: 4000;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4); }
  .lighter-close {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: -15px;
    line-height: 28px;
    font-size: 16pt;
    font-family: Helvetica, Arial, serif; }
  .lighter-next, .lighter-prev {
    display: none;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0;
    line-height: 34px;
    font-size: 32pt;
    font-family: Times, serif; }
  .lighter-next {
    right: 40px; }
  .lighter-prev {
    left: 40px; }
  .lighter-next, .lighter-prev, .lighter-close {
    cursor: pointer;
    position: absolute;
    z-index: 8000;
    text-align: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transition-property: color, background;
    -moz-transition-property: color, background;
    transition-property: color, background; }
    .lighter-next:hover, .lighter-prev:hover, .lighter-close:hover {
      color: white;
      background: rgba(0, 0, 0, 0.4); }
    .lighter-next:active, .lighter-prev:active, .lighter-close:active {
      color: white;
      background: rgba(0, 0, 0, 0.4); }
  .lighter-spinner {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    position: absolute;
    width: 60px;
    height: 20px;
    margin: -10px -30px;
    z-index: 4000;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%; }
    .lighter-spinner::after {
      clear: both;
      content: "";
      display: table; }
  .lighter-dot {
    display: block;
    float: <?=$left?>;
    background: rgba(0, 0, 0, 0.2);
    width: 16px;
    height: 16px;
    margin: 2px;
    padding: 0;
    border-radius: 50%;
    -webkit-animation: lighter-bounce 1.6s infinite ease-in-out;
    -moz-animation: lighter-bounce 1.6s infinite ease-in-out;
    animation: lighter-bounce 1.6s infinite ease-in-out; }
    .lighter-dot:nth-child(1) {
      -webkit-animation-delay: -0.4s;
      -moz-animation-delay: -0.4s;
      animation-delay: -0.4s; }
    .lighter-dot:nth-child(2) {
      -webkit-animation-delay: -0.26667s;
      -moz-animation-delay: -0.26667s;
      animation-delay: -0.26667s; }
    .lighter-dot:nth-child(3) {
      -webkit-animation-delay: -0.13333s;
      -moz-animation-delay: -0.13333s;
      animation-delay: -0.13333s; }

@-webkit-keyframes lighter-bounce {
  from,to {
    -webkit-transform: scale(0); }
  20% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); }
  80% {
    -webkit-transform: scale(0); } }
@-moz-keyframes lighter-bounce {
  from,to {
    -moz-transform: scale(0); }
  20% {
    -moz-transform: scale(0); }
  50% {
    -moz-transform: scale(1); }
  80% {
    -moz-transform: scale(0); } }
@keyframes lighter-bounce {
  from,to {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  20% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  80% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
